body {
      background-color: #f4a442;
}
h1 {
    color: #8eccb8;
    text-align: center;
}
a:hover {
  background-color: #f44141
}
*.center-align{
  text-align: center;
}
hr + h1 {
  font-size: 300%;
}
