body {
      background-color:#0f5fd8;
      font-family: Georgia, serif;
      margin: 5px;
}
h1 {
    color:seagreen;
    text-align: center;
}
a:hover {
  background-color:olive
}
*.center-align {
  text-align: center;
}
p {
  color:orange;
}
table,th,td,tr,{
  color: ##4f1d1d;
}
h4 {
    color:white;
}
thead {
  color: #edc338;
}
td {
  text-align: center
}
.pg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  border-radius: 15%;
  border: 9px solid white;
  padding: 3px;
}
.rw {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  border-radius: 25%;
  border: 9px solid white;
  padding: 3px;
}
.pp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  border-radius: 10%;
  border: 9px solid white;
  padding: 3px;
}
.sa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  border-radius: 5%;
  border: 9px solid white;
  padding: 3px;
}
.ar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 75%;
  border-radius: 20%;
  border: 9px solid white;
  padding: 2px;
}
footer {
  color: white
}
#lineup {
  background-color: black;
}
